
body{
  margin:0;
}
a {
  color: black;
  text-decoration: none;
}
h1{
  font-size: 45px;
  text-align: center;
  margin:0;
  padding: 20px;
  background-color: #50bcdf;
}
ul{
  border-right: 1px solid gray;
  width: 200px;
  margin: 0;
  padding: 20px;
  line-height: 40px;
}
#grid{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}
#gird #llist{
  padding-left:25px;
}
p{
  padding-right: 500px;
  line-height: 60px;
}
#grid img{
    width: 150px;
    height: 150px;
    border-radius: 70%;
}
#grid ul{
  padding-left: 25px;
}
#grid #llist ul{
  padding-left: 45px;
  border: none;


}
@media(max-width:800px){
  #grid{
    display: block;
  }
  ul{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
